body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 42px;
}

.header__nav-link {
    color: rgba(18, 16, 12, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.header__btn {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #12100c;
    padding: 6px 23px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    color: #12100c;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    margin: 0;
}
.hero-text {
    color: rgba(18, 16, 12, 0.7);
    font-size: 23px;
    font-weight: 400;
    line-height: 31.92px;
}

.hero__btn {
    color: #12100c;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    border-radius: 16px;
    background: #ffae33;
    padding: 11px 46px;
}
span{
    color: rgba(18, 16, 12, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    padding: 0 20px;
}
.hero-img{
    display: flex;
    gap: 28px;
    padding: 20px;
}
.hero__img__wrap img{
    max-width: 100%;
    height: 100%;
}


@media screen and (max-width: 900px) {
    .hero__content{
        flex-direction: column;
    }
    
}


@media screen and (max-width: 810px) {
    .header__nav {
        display: none;
    }
}
