body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 42px;
}

.header__nav-link {
    color: rgba(18, 16, 12, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.header__btn {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #12100c;
    padding: 6px 23px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    color: #12100c;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    margin: 0;
}
.hero-text {
    color: rgba(18, 16, 12, 0.7);
    font-size: 23px;
    font-weight: 400;
    line-height: 31.92px;
}

.hero__btn {
    color: #12100c;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    border-radius: 16px;
    background: #ffae33;
    padding: 11px 46px;
}
span {
    color: rgba(18, 16, 12, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 20px;
}
.hero-img {
    display: flex;
    gap: 28px;
    padding: 20px;
}
.hero__img__wrap img {
    max-width: 100%;
    height: 100%;
}

.project__info {
    padding: 150px 0;
}

.project-title {
    color: #12100c;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 63.72px;
    margin: 0;
}

.project-text {
    color: #999795;
    text-align: center;
    font-size: 54px;
    font-weight: 400;
    line-height: 63.72px;
    margin: 0;
}

.project-text2 {
    color: #12100c;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 63.72px;
    margin: 0;
}

.dev__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0;
}
.dev__info {
    padding: 10px;
}

.dev-title {
    color: #12100c;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}
.dev-text {
    color: rgba(18, 16, 12, 0.7);
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
    padding: 0 0 150px 0;
}

.dev__btn {
    color: #12100c;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 10.5px;
    background: #ffae33;
    padding: 7px 18px;
    border: none;
}
.dev__btn2 {
    color: #12100c;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 10.5px;
    background: #ffb0ae;
    padding: 7px 18px;
    border: none;
}

.remote__content {
    display: flex;
    text-align: center;
}

.remote-title {
    color: #12100c;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 71.82px;
}

.remote__img-wrap img {
    width: 100%;
    height: 100%;
}

.remote-text {
    color: rgba(18, 16, 12, 0.7);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
}

.remote-btn {
    color: #12100c;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 31.86px;
    padding: 7px 12px;
    border-radius: 9px;
    background: #fff;
    border: none;
}
.remote-btn2 {
    color: #12100c;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 31.86px;
    padding: 7px 12px;
    border-radius: 9px;
    background: #fff;
    border: none;
}

.develope-title {
    color: #12100c;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 63.72px;
}

.develope__content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 30px;
}
.develope__info {
    width: 380px;
    height: 292px;
    border-radius: 16px;
}
.develope-text {
    color: #12100c;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 24px;
}
.develope__img {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.develope__btn {
    display: flex;
    gap: 70px;
    padding: 70px 0;
}
.develope-button:hover {
    border: 1px #08d19f dashed;
}
.develope-button {
    border: none;
    background: none;
}
.develope__btn2 {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px 0;
}
.get__content {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.get-title {
    color: #12100c;
    text-align: center;
    font-size: 54px;
    font-weight: 700;
    line-height: 71.82px;
    padding: 150px 0 0;
}

.get__info-title {
    color: #12100c;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    padding: 46px 50px 8px;
}
.get-button1 {
    color: #fff;
    text-align: center;
    padding: 14px 53px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 12px;
    background: #fc6d26;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    border: none;
}
.get-button2 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 12px;
    background: #000;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 14px 53px;
    border: none;
}

.get-button3 {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    border-radius: 12px;
    background: #2684ff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 14px 45px;
    border: none;
}

.get__info-text {
    color: rgba(18, 16, 12, 0.7);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
    padding: 10px 60px 10px;
    margin: 0;
}

.get__info {
    background-image: url(../images/launch.png);
    max-width: 642px;
    height: 651px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0) 0px 3px 8px;
}

.get__description {
    display: flex;
    justify-content: center;
}

.get__desc-btn {
    color: rgba(18, 16, 12, 0.7);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
    border-radius: 12px;
    background: #ffb0ae;
    border: none;
    padding: 10px 10px;
}

.get-btns {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px 25px;
}

.get_content_input {
    padding: 22px 56px 70px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.get__input-info {
    display: flex;
    align-items: center;
    max-width: 530px;
    min-height: 56px;
    border-radius: 12px;
    background: #f9f9f9;
}

.get-typescript {
    padding: 0px 0px 0px 25px;
}

.get__input-title {
    color: rgba(18, 16, 12, 0.7);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 60px 0px 16px;
    margin: 0;
}

.get__input-button {
    border-radius: 12px;
    background: #12100c;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 9px 10px;
    border: none;

}

@media screen and (max-width: 1243px) {
    .get__content{
        display: grid;
        grid-template-columns: repeat(1fr);
    }
    
}


@media screen and (max-width: 900px) {
    .hero__content {
        flex-direction: column;
    }

    .dev__content {
        flex-direction: column;
    }
}

@media screen and (max-width: 810px) {
    .header__nav {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    .develope__content {
        display: grid;
        grid-template-columns: repeat(1fr);
    }
    .develope__btn {
        display: grid;
        grid-template-columns: repeat(1fr);
    }
    .develope__btn2 {
        display: none;
    }
}
