body {
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 42px;
}

.header__nav-link {
    color: rgba(18, 16, 12, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.header__btn {
    color: #f9f9f9;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #12100c;
    padding: 6px 23px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    color: #12100c;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    margin: 0;
}
.hero-text {
    color: rgba(18, 16, 12, 0.7);
    font-size: 23px;
    font-weight: 400;
    line-height: 31.92px;
}

.hero__btn {
    color: #12100c;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    border-radius: 16px;
    background: #ffae33;
    padding: 11px 46px;
}
span{
    color: rgba(18, 16, 12, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; 
    padding: 0 20px;
}
.hero-img{
    display: flex;
    gap: 28px;
    padding: 20px;
}
.hero__img__wrap img{
    max-width: 100%;
    height: 100%;
}

.project__info{
    padding: 150px 0;
}

.project-title{
    color: #12100C;
text-align: center;
font-size: 54px;
font-weight: 700;
line-height: 63.72px; 
margin: 0;
}

.project-text{
    color: #999795;
text-align: center;
font-size: 54px;
font-weight: 400;
line-height: 63.72px; 
margin: 0;
}

.project-text2{
    color: #12100C;
text-align: center;
font-size: 54px;
font-weight: 700;
line-height: 63.72px; 
margin: 0;
}

.dev__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 160px 0;

}
.dev__info{
    padding: 10px;
}

.dev-title{
    color: #12100C;
font-size: 32px;
font-weight: 700;
line-height: 40px; 
}
.dev-text{
    color: rgba(18, 16, 12, 0.70);
font-size: 24px;
font-weight: 400;
line-height: 31.92px; 
padding: 0 0 150px 0;

}


.dev__btn{
    color: #12100C;
font-size: 14px;
font-weight: 700;
line-height: 16px; 
border-radius: 10.5px;
background: #FFAE33;
padding: 7px 18px;
border: none;
}
.dev__btn2{
    color: #12100C;
font-size: 14px;
font-weight: 700;
line-height: 16px; 
border-radius: 10.5px;
background: #FFB0AE;
padding: 7px 18px;
border: none;
}




@media screen and (max-width: 900px) {
    .hero__content{
        flex-direction: column;
    }

    .dev__content{
        flex-direction: column;
    }

    
    
}


@media screen and (max-width: 810px) {
    .header__nav {
        display: none;
    }
}
